// Define variables for your color scheme

// For example:
$red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
$green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;


// the News Club colour scheme variables:
// $yellow:    #FFFF00;
// $blue:      #3FA9F5;
// $cyan:      #3FA9F5;
// $magenta:   #C137FC;
$grey: #333333;
$gray: #333333;
$white: #FEFEFE;
$black: #000000;
$off-white: #F9F9F9;
$cyan: rgba(0, 174, 239, 0.85);
$cyan-opaque: rgb(0, 174, 239);
$cyan-faded: rgba(0, 174, 239, 0.1);
$magenta: rgba(236, 0, 140, 0.85);
$magenta-opaque: rgb(236, 0, 140);
$yellow: rgba(255, 242, 0, 0.85);
$yellow-opaque: rgb(255, 242, 0);




$color-primary: "255, 0, 0";
$color-accent: "0, 0, 255";
// $color-primary: #333333 !global;
$color-primary-dark: #0c0c0c !global;
// $color-accent: #EE269D !global;
$color-primary-contrast: #EE269D !global;
$color-accent-contrast: #EE269D !global;
