// Define variables for your color scheme

// For example:
$red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
$green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;


// the News Club colour scheme variables:
$yellow:    #FFFF00;
$blue:      #3FA9F5;
$cyan:      #3FA9F5;
$magenta:   #C137FC;
$grey:      #333333;
$gray:      #333333;
$white:     #FFFFFF;
$black:     #000000;
$off-white: #efebe9;




$color-primary: "255, 0, 0";
$color-accent: "0, 0, 255";
// $color-primary: #333333 !global;
$color-primary-dark: #0c0c0c !global;
// $color-accent: #EE269D !global;
$color-primary-contrast: #EE269D !global;
$color-accent-contrast: #EE269D !global;
