$cyan: rgba(0,174,239,0.85);
$magenta: rgba(236,0,140,0.85);
$yellow: rgba(255,242,0,0.85);

body {
  background-color: #FEFEFE;
}

.top {
  font-family: 'Chivo', sans-serif;
  max-width: 80vh;
  margin: 20px auto;
  // color: $gray;

  h1 {
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 200pt !important;
    line-height: 190px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    line-height: 0.8 !important;
  }

  h2 {
    font-size: 32pt;
    margin: 5px;
    padding: 0px;
    font-family: 'Karla', cursive;
  }
}


#trapezoid-c {
  border-top: 100px solid $cyan;
  border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  height: 0;
  width: 70vw;
  // opacity: 90%;
  padding: -15px;
  margin: -40px 10px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  // mix-blend-mode: multiply;
}

#trapezoid-m {
  border-top: 100px solid $magenta;
  border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  height: 0;
  width: 70vw;
  padding: -15px;
  margin: -20px 30px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  // mix-blend-mode: multiply;
}

#trapezoid-y {
  border-top: 100px solid $yellow;
  border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  height: 0;
  width: 70vw;
  padding: -15px;
  margin: 0px 50px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  // mix-blend-mode: multiply;
}

.article-container {
  margin: 20px auto ;
  width: 80% !important;
  height: auto;
  display: flex;
}

.info-banner {
  width: 100%;
  height: 450px;
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.info-content {
  width: 230px;
  height: 230px;
  color: $gray;
  // font-family: 'Helvetica';

  h4 {
    text-align: center;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    // font-family: 'Helvetica';
  }

  p {
    text-align: left;
    font-family: 'Helvetica';
    font-size: 16px;
  }
}
