$cyan: rgba(0,174,239,0.85);
$magenta: rgba(236,0,140,0.85);
$yellow: rgba(255,242,0,0.85);

body {
  background-color: #FEFEFE;
}

.top {
  font-family: 'Chivo', sans-serif;
  max-width: 80vh;
  margin: 20px auto;
  // color: $gray;

  h1 {
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 200pt !important;
    line-height: 190px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    line-height: 0.8 !important;
  }

  h2 {
    font-size: 32pt;
    margin: 5px;
    padding: 0px;
    font-family: 'Karla', cursive;
  }
}


#trapezoid-c {
  border-top: 100px solid $cyan;
  border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  height: 0;
  width: 70vw;
  // opacity: 90%;
  padding: -15px;
  margin: -40px 10px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  // mix-blend-mode: multiply;
}

#trapezoid-m {
  border-top: 100px solid $magenta;
  border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  height: 0;
  width: 70vw;
  padding: -15px;
  margin: -20px 30px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  // mix-blend-mode: multiply;
}

#trapezoid-y {
  border-top: 100px solid $yellow;
  border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  height: 0;
  width: 70vw;
  padding: -15px;
  margin: 0px 50px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  // mix-blend-mode: multiply;
}

.article-container {
  margin: 20px auto ;
  width: 80% !important;
  height: auto;
  display: flex;
}

.info-banner {
  width: 100%;
  height: 450px;
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.info-content {
  width: 230px;
  height: 230px;
  color: $gray;
  // font-family: 'Helvetica';

  h4 {
    text-align: center;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    // font-family: 'Helvetica';
  }

  p {
    text-align: left;
    font-family: 'Helvetica';
    font-size: 16px;
  }
}

// .articles-field {
//   width: 640px !important;
//   height: 610px !important;
//   position: absolute !important;
//   left: 0 !important;
// }



.test {
  width: 100%;
  height: 700px;
  // border: 1px solid $cyan;
  display: flex;

  .articles-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 70%;
    height: 100%;
    // border: 1px dotted $magenta;
  }

  .recommendations-list {

    width: 30%;
    height: 100%;
    // border: 1px dotted $yellow;

    h3 {
      padding-top: 20px;
      // border-bottom: 1px solid $gray;
    }

    .recommendation-item {
      width: 100%;
      // border: 1px dotted $gray;
      height: 80px;
      margin: 2px 0px;
      font-family: "Roboto";
      display: flex;

      .number-div {
        width: 30%;
        position: relative;
        h6 {
          position: absolute;
          right: 7px;
          top: 0px;
          font-size: 50px;
          color: $magenta;
          font-family: "Merriweather";
        }

      }

      .text-container {
        width: 70%;
        color: $gray;
        h5 {
          font-size: 14px;
          margin: 0px;
          margin-top: 18px;
          font-family: "Merriweather";
        }
        h4 {
          font-size: 12px;
          margin: 7px 0px;
          line-height: 0.7;
        }
        p {
          color: darkgray;
          font-size: 12px;
          // margin: 2px;
          line-height: 0.7;
        }

      }
    }
  }
}

.todays-curated {
  width: 100%;
  // position:absolute;
  // left: 0;
  // right: 0;
  // padding-bottom:400px;
  height: 400px;
  // border: 1px dashed $magenta;
  position: relative;
  background-color: $cyan-faded;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("annie-spratt-unsplash.jpg");
  background-size: cover;
  background-position: center;


  .text-container {
    position: absolute;
    left: 141px;
    line-height: 0.2;
    color: $off-white;
    h3 {
      font-family: "Merriweather";

      font-size: 40px;
      line-height: 0.4;
    }
    h4 {
      line-height: 0.4;
    }
    h5 {
      font-family: "Roboto";
      font-weight: lighter;
    }
    h6 {
      font-family: "Merriweather";
      color: $off-white;
    }
    p {

    }
  }
  .image-container {
    position: absolute;
    height: 360px;
    width: 600px;
    right: 20px;
    top: 20px;


  }
}

.lower-content {
  width: 80%;
  margin-left: 141px;
  margin-right: 111px;
  height:5000px;
  // border: 1px solid $gray;
  display: flex;
}

.left {
  width: 70%;
  height: 100%;
  // border: 1px dashed $cyan;
}

.right {
  width: 30%;
  height: 100%;
  // border: 1px dashed $cyan;
}


// slanted edges here
.quote {
  background: #41ade5;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

// demo code below
.quote {
  color: #3FA9F5;
  font-family: 'Fira Sans', sans-serif;
  padding: 5% 20px;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0.5em;
}

// slanted edges here
.quote-two {
  background: #F9F9F9;
  position: relative;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
  padding: 17% 20px;
  text-align: center;
  margin-bottom: 20px;
  height: 30px;

  &:before,
  &:after {
    background-color: #F9F9F9;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(178.5deg);
    transform-origin: 0 100%;
  }
  &:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
  }
}

// quote three
.quote-three {
  background: $yellow-opaque;
  position: relative;
  z-index: 1;
  height: 500px;
  color: #3FA9F5;
  font-family: 'Fira Sans', sans-serif;
  padding: 40px 20px;
  text-align: center;
  // margin-bottom: 0px;
  display: flex;
  flex-direction: column;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 10%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

}

// demo code below

p {
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}

.center_mockup {
  position: absolute;
  left: 40%;
  top: -20%;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}
.center_content {
  position: absolute;
  left: 20%;
  top: 24%;
  margin-right: auto;
  width: 28%;
  padding: 10px;
  display: block;
  color: #333333;

}

body {
  font-family: "aktiv-grotesk-std",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #F9F9F9 !important;
}

.p-card-container {
  display: flex;
  flex-direction: row;
}

.p-card {
  background: #FFFFFF;
  // box-shadow: 0 0 0 1px rgba(0,0,0,0.10),
              // 0 5px 10px 0 #E3E8EB,
              // 0 3px 3px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 250px;
  margin: 5px; //to remove. just for codepen
}

.p-card-heading {
  padding: 25px 25px 0px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.p-card__title {
  text-transform: uppercase;
  letter-spacing: 1.85px;
  color: #394956;
  font-weight: 500;
}

.p-card__separator {
   border-top: 1px solid #E3E8EB;
   width: 100%;
   margin-top: 1.5em;
}

.p-card__per {
  color: #93A1AF;
  font-size: 12px;
}

.p-card__feature {
  line-height: 18px;
  margin: 20px 30px 0 10px;
  // list-style-image: url(https://sendeyo.com/up/d10856fc170b362463b0fccdb657e55b.svg);
}

// .currency {
//   font-size: 20px;
//   margin-top: 4px;
// }

// .p-card__feature-item {
//   color: #72808E;
//   font-size: 13px;
//   font-weight: 400;
// }
.p-card__price {
  font-size: 30px;
  color: #394956;
  margin: 5px 0;
  display: flex;
}

.p-card__footer {
  padding: 25px;
}

.p-card__button {
  box-sizing: border-box;
  background: #3197D6;
  border-radius: 3px;
  color: white;
  display: inline-block;
  position: relative;
  height: 47px;
  padding: 0 2rem;
  line-height: 47px;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 100%;

  &:hover {
    transform: translate3d(0,-2px,0);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
  }
}

.p-card__button:active {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .15);
    transform: translateZ(0) scale(1.06);
 }

.p-card__button:hover {
   box-shadow: 0 4px 9px rgba(0, 0, 0, .1);
   transform: translateZ(0) scale(1.03);
}

.p-card__button--selected {
  color: #72808E;
  background: #F1F3F5;
}

.p-card--active {
  background: #F9FAFA;
  box-shadow: 0 0 0 1px #DFE0E0,
              0 5px 10px 0 #F1F3F5,
              0 3px 3px 0 rgba(0,0,0,0.05);
}

.tx-500 {
  font-weight: 500;
  color: #394956
}



.plan__subheading {
  font-size: 16px;
  color: #93A1AF;
  text-align: center;
}

.center-plan1 {
  position: absolute;
  left: 29%;
  top: 21%;
  background-color: #F9F9F9;
}
.center-plan2 {
  position: absolute;
  left: 51%;
  top: 21%;
  background-color: #F9F9F9;
}
.plan__header {
  // position: absolute;
  // left: 33%;
  // top: 6%;
  font-size: 26px;
  color: #394956;
  text-align: center;
}
