.plan-container {
  width: 700px;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  background-color: #F9F9F9;
}

.subscription {

  h2 {
  margin-top: 120px;
  font-weight: 900 !important;
  font-size: 80px;
  font-family: 'Chivo';
  font-style: italic;
  text-align: center;
  }

  h4 {
  margin-top: 30px;
  font-family: 'Helvetica';
  text-align: center;
  }
}


.subscription-container{

height: 500px;
width: 300px;
}

.center-plan1 {
  position: absolute;
  left: 29%;
  top: 58%;
  background-color: #F9F9F9;
}
.center-plan2 {
  position: absolute;
  left: 50%;
  top: 58%;
  background-color: #F9F9F9;
}
