.plan-container {
  width: 700px;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  background-color: #F9F9F9;
}

.subscription {

  h2 {
  margin-top: 43px;
  font-weight: 900 !important;
  font-size: 37px;
  color: #f9f9f9;
  font-family: 'Chivo';
  font-style: italic;
  text-align: center;
  }

  h4 {
  margin-top: 30px;
  font-family: 'Helvetica';
  text-align: center;
  }
}


.subscription-container{

height: 500px;
width: 800px;
display: flex;
justify-content: space-evenly;
margin: 0 auto;

  .plan-card {
    width: 40%;
    height: auto;
    margin: 30px 10px;
    background-color: #F9F9F9;
  }
}



.center-plan3 {
  position: absolute;
  left: 29%;
  top: 58%;
  background-color: #F9F9F9;
}
.center-plan4 {
  position: absolute;
  left: 50%;
  top: 58%;
  background-color: #F9F9F9;
}

.form-subtitle {
    margin-top: 44px;
    font-size: 24px;
    line-height: 28px;
    color: #979797;
}


.first-form {
  margin: 40px 30px;
}

.first-form-card {
  margin: 94px auto;
}
