<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.mdl-layout__container {
    position: relative;
    width: 100%;
    height: 620px;
}

.demo-layout-transparent {

}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.center {
  position: absolute;
  left: 2%;
  top: 0%;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}
.center-text {
  position: absolute;
  left: 2%;
  top: 28%;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  font-family: News Cycle;
  font-weight: bold;
  font-size: 80px;
  color: #333333;
  line-height: 76px;
}

.center-subtitle {
  position: absolute;
  left: 2%;
  top: 56%;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 25px;
  color: #333333;
  line-height: 32px;
}
.banner-color {
  position: absolute;
  left: 0%;
  top: 31%;
  margin-right: auto;
  width: 50%;
  padding: 0px;
}

.mdl-layout__content {
  position: relative;
  background: #F9F9F9;
}



.banner-button {
  position: absolute;
  left: 3%;
  top: 72%;
  margin-right: auto;
  background-color: #3FA9F5;
  color: white;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  background: #C137FC;
}
.mdl-button {
  padding: 6px 26px !important;
}

</style>

<div class="demo-layout-transparent mdl-layout mdl-js-layout">

  <!-- <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div> -->
  <main class="mdl-layout__content">
    <div class="center"><%= image_tag "news_club_logo_new.png", height: 80 %>
    </div>
    <div class="banner-color"><%= image_tag "banner_side_color-.png", height: 140 %>
    </div>
    <div class="center-text"> Instant access to the best journalism
    </div>
    <div class="center-subtitle"> Discover a custom made curated feed just for <br> our club members
    </div>
    <div class="banner-button">
      <%= link_to 'JOIN THE CLUB', new_user_registration_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"  %>
    <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    REGISTER NOW
  </button> -->
  </div>
  </main>
</div>
