<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#starks-panel" class="mdl-tabs__tab is-active">LATEST</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">THEMES</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">HISTORY</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">CURATED</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">FAVOURITES</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">BOOKMARKS</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="starks-panel">
      <div class="mdl-grid">
        <% @all_user_articles.each do |a| %>
          <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col"><%= render 'shared/article-card', a: a %></div>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>

    <div class="mdl-tabs__panel" id="lannisters-panel">
        <div class="mdl-grid">
        </div>
    </div>
    <div class="mdl-tabs__panel" id="targaryens-panel">
        <div class="mdl-grid">
        </div>
    </div>
</div>
