<div class="long-card">
    <div class="text-container">
        <h4>
            <%= a["source"] %>
        </h4>
        <h3>
            <%= a["title"] %>
        </h3>
        <p>
          <%= a["date"].strftime('%A, %b %d %Y') %>
        </p>

    </div>
    <div class="image-container">
        <%= image_tag a["image"] %>
    </div>
</div>
