<div class="container">
  <div class="flex-c bars"> <i class="fas fa-bars"></i></div>
  <div class="flex-c logo"> <%= image_tag ('logo.png'), height: 170 %></div>
  <div class="flex-c">the login button will go here</div>
</div>
