<div class="container">
  <div class="flex-c bars"> <i class="fas fa-bars"></i></div>
  <%= link_to articles_path do %>
  <div class="flex-c logo"> <%= image_tag ('logo.png'), height: 150 %></div>
  <% end %>
  </div>
</div>







<!-- here's the aborted log-in button for the show page -->
<!-- might come in handy later... -->
<!--   <div class="flex-c">
    <%#= link_to new_user_registration_path do %>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent login-btn">Log in</button>
    <%# end %> -->
