<div class="publication-card mdl-shadow--4dp">
  <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="icon-toggle-<%= i %>">
  <input type="checkbox" id="icon-toggle-<%= i %>" name="<%= i %>" class="mdl-icon-toggle__input">
  <i class="mdl-icon-toggle__label material-icons">star</i>
</label>

</div>
