<%= render 'shared/user-navigation'%>

  <button class="quota-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i><%= current_user.readings.count %>/<%= current_user.subscription.plan.amount { |match|  } %></i>

  </button>

<%# raise %>

<%# @sources.each do |p| %>
<!-- <img src="//logo.clearbit.com/<%#= p %>"> -->
<%# end %>
<%= link_to home_path(current_user) do %>
  <button class="navigation-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">arrow_back</i>
  </button>
<% end %>


<% if @snackbar %>

  <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>

  </div>

  <script>
  r(function(){
      var snackbarContainer = document.querySelector('#demo-toast-example');
      var data = { message: 'Article added to reading history.', timeout: 5000 };
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
  });
  function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
  </script>

<% end %>


