.container {
    // margin: 8px;
    width: 320px !important;
    height: 300px !important;
    margin: 0px !important;
    position: relative !important;
    z-index: 2;

    // a {
    // margin: 0px !important;
    // }
    h4 {
        color: $off-white;
        font-size: 16px;
        line-height: 1.4;
        margin: 0px;
        z-index: 4;
        margin-left: 5px;
    }

    h3 {
        color: $off-white;
        font-size: 18px;
        line-height: 1.4;
        margin: 0px;
        z-index: 4;
        margin-left: 5px;
        margin-top:5px;
    }

    .mask-block {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 140px;
      background-color: rgba(0,0,0,0.5);
      z-index: 3;
    }

    .upper {
      position: absolute;
      bottom: 70px;
      height: 70px;
      width: 100%;
      z-index: 4;
      margin: 0px;
    }

    .bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // background-color: rgba(0,0,0,0.5);
        margin: 0px;
        z-index: 4;

        h5 {
            color: $off-white;

        }
    }

}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    z-index: 5;
    display: flex;
    align-items: center;

    .text-container {
      width: 90% !important;
      height: 90% !important;
    }

    p {
      color: white;
      font-size: 16px;
      margin: 5px;

    }
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: $gray;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 230px;
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.source-text {
    color: $off-white;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    left: 2px;
}

.avatar-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    // position: absolute;
    // bottom: 8px;
    // left: 8px;
}

.image-article {
width: 100vw;
}

.article-content-container {
    margin-right: 15vw;
    margin-left: 15vw;
}

.applause-btn {
  fill: $magenta !important;
  color: $magenta !important;
}
