.navigation-button {
  background: $yellow !important;
  position: absolute !important;
  top: 700px !important;
  left: 75px !important;
  color: $gray !important;

}

.quota-button {
  background: $magenta-opaque !important;
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  top: 15px;
  right: 100px;
  z-index: 11;
  border: 0px !important;
  border-radius: 50%;
  // position: fixed !important;
  // top: 65px !important;
  // right: 30px !important;
  // color: $gray !important;
}

.login-btn {
  background: $magenta !important;
}

.menu-button {
  background: $cyan-opaque !important;
  color: $gray !important;
}

.q-button {
  background: $magenta !important;

  // position: absolute !important;
  // top: 100px !important;
  // left: 35px !important;
  color: $gray !important;
}

.applause-btn {
  fill: $magenta !important;
  color: $magenta !important;
  position: absolute !important;
  // width: 70px;
  // height: 70px;
  top: 800px;
  left: 75px;
  z-index: 5;
  // position: sticky;
  // top: 0;
}

.facebook-btn {
  position: absolute !important;
  top: 940px;
  left: 75px;
  z-index: 5;
  border: 1px solid #4069AC;
    border-radius: 50%;
    padding: 13px 21px;
    i {
      font-size: 30px;
      color: #4069AC;
    }
}

.twitter-btn{
position: absolute !important;
    top: 1023px;
    left: 75px;
    z-index: 5;
    border: 1px solid #00A3EC;
    border-radius: 50%;
    padding: 21px 23px;
    i{
      color: #00A3EC;
      width: 15px;
      height: 5px;
      line-height: 50px;
      font-size: 35.5px;

    }
.fa-twitter:before {
    position: absolute;
    top: 8px;
    left: 14px;
  }
}


.instagram-btn{
    position: absolute !important;
    top: 1110px;
    left: 75px;
    z-index: 5;
    border: 1px solid #DD1B5D;
    border-radius: 50%;
    padding: 19px 22px;
    i{
      color: #DD1B5D;
      font-size: 20px;
    }
}

.download-btn{
    position: absolute !important;
    top: 1195px;
    left: 75px;
    z-index: 5;
    border: 1px solid #48A4D6;
    border-radius: 50%;
    padding: 17px 18px;
     // -webkit-animation: pulse 1.5s infinite;
    i{
      color: #48A4D6;
      font-size: 25px;
    }
}

