.navigation-button {
  background: $yellow !important;
  position: fixed !important;
  top: 90px !important;
  right: 90px !important;
  color: $gray !important;
}

.quota-button {
  background: $magenta !important;
  position: fixed !important;
  top: 65px !important;
  right: 30px !important;
  color: $gray !important;
}

.login-btn {
  background: $magenta !important;
}

.menu-button {
  background: rgb(0, 174, 239) !important;
  position: absolute !important;
  top: 15px !important;
  left: 15px !important;
  color: $gray !important;
}

.q-button {
  background: $magenta !important;
  position: absolute !important;
  top: 100px !important;
  left: 35px !important;
  color: $gray !important;
}
