.article-card {
  width: 800px;
  height: auto;
  background: #efebe9;
  margin: 15px auto;

  img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  h3,p {
    padding: 0 15px;
  }

  p {
    text-indent: 2em;
  }

  p::first-letter {
  font-size: 120%;

  }
}

.form-card {
    width: 550px;
    height: auto;
    background-color: $off-white;
    margin: 45px auto;
    text-align: center;
    h2 {
    color: #212121 ;
    margin-bottom: -50px;
    padding-top: 20px;

  }
}

.form-inputs {
  margin: 100px 30px;
}

.btn-color {
  background: $grey !important;
}

.btn-color-2 {
  background: $grey !important;
}

.form-control{
  padding: 5px;
  margin: 5px;
  width: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px $grey;
  font-size:20px;
}

.form-control-label {
  display: block;
}

.space-me{
  padding: 20px;
}
