.article-card {
  display: grid;
  width: 800px;
  height: auto;
  margin: 15px auto;
  box-shadow: none !important;

  img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  h3 {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 40px;
  }

  h3,p {
    padding: 0 15px;
  }

  p {
    font-family: $body-font;
    font-size: 20px;
  }

  .container-datename {
    text-indent: 1em;
    margin-bottom: 10px;
  }

  .author {
    font-weight: bold;
  }

  .first-letter {
    font-size: 30px;
    font-weight: 800;
  }

}
.color:nth-child(2)::first-letter{
  font-size: 400px;
}

.form-card {

    width: 550px;
    height: auto;
    background-color: $off-white;
    margin: 45px auto;
    text-align: center;
    h2 {
    color: #212121 ;
    margin-bottom: -50px;
    padding-top: 20px;

  }
}

.form-inputs {
  margin: 100px 30px;
}

.btn-color {
  background: $grey !important;
}

.btn-color-2 {
  background: $grey !important;
}

.form-control{
  padding: 5px;
  margin: 5px;
  width: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px $grey;
  font-size:20px;
}

.form-control-label {
  display: block;
}

.space-me{
  padding: 20px;
}

.publication-card {
  width: 140px;
  height: 150px;
  margin: 5px;
}
