// FOR ARTICLE-SHOW
.show-article-card {
    display: grid;
    width: 800px;
    margin-right: 100px;
    height: auto;
    margin-top: 30px;
    box-shadow: none !important;

    img {
        // min-width: 100%;
        // max-width: 100%;
        height: auto;
    }

    h3 {
        font-family: $headers-font;
        font-weight: bold;
        font-size: 40px;
    }

    h3,
    p {
        padding: 0 15px;
    }

    p {
        font-family: $body-font;
        font-size: 20px;
    }



    .container-datename {
        text-indent: 1em;
        margin-bottom: 10px;
    }

    .author {
        font-weight: bold;
    }

    .first-letter {
        font-size: 30px;
        font-weight: 800;
    }



    .article-content-container {
        width: 800px;
        height: auto;
        // margin: 0px auto;
    }


}

.image-article {
    width: 100%;
    height: calc(100vh - 140px);
    background-size: cover;
    position: relative;
    background-position: bottom left;
}

// ----------------------------------------



.color:nth-child(2)::first-letter {
    font-size: 400px;
}

.form-card {
    width: 550px;
    height: auto;
    background-color: $off-white;
    margin: 45px auto;
    text-align: center;
    h2 {
        color: #212121;
        margin-bottom: -50px;
        padding-top: 20px;

    }
}

.form-title {
    color: #212121;
    margin-bottom: -50px;
    font-family: "Merriweather";
    padding-top: 50px !important;
}

.form-inputs {
    margin: 100px 30px;
}

.btn-color {
    background: $grey !important;
}

.btn-color-2 {
    background: $grey !important;
}

.form-control {
    padding: 5px;
    margin: 5px;
    width: auto;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px $grey;
    font-size: 20px;
}

.form-control-label {
    display: block;
}

.space-me {
    padding: 20px;
}

.publication-card {
    width: 50px;
    height: 140px;
    margin: 5px;

}

// -----------------------------------------

.mdl-tabs {
    margin: 20px auto;
    width: 80% !important;

}

.demo-card-wide.mdl-card {
    height: 350px;
    width: 100%;
}

.mdl-card__title {
    margin-top: 5px;
    height: auto;
}

.mdl-card__actions .mdl-card--border {
    position: absolute;
    bottom: 0px;
}

a {
    text-decoration: none;
}

.mdl-card__supporting-text {
    width: 100% !important;
    height: 90px;
    overflow: hidden;
}

.mdl-card__title-text {
    position: absolute;
    top: 10px;
    left: 2px;
    color: white !important;
    opacity: 0.7;
}

.demo-card-image.mdl-card {
    width: 320px;
    height: 256px;
}

.demo-card-image>.mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.button-menu {
    display: flex;
    position: absolute;
    right: 5px;
    top: 25px;
}

.plan-card {
    width: 420px;
    height: 320px;
    margin: 50px auto;
    padding: 20px 5px;

    h3 {
        font-family: 'Chivo';
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
    }

    p {
        font-family: 'Helvetica';
    }
}

.opacity {
  label {
    height: 88%;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    opacity: 0;
    &.is-checked {
      opacity: 1;
    }
    .mdl-icon-toggle {
      height: 100%;
      width: 100%;
    }
  }
}
