.anything {
  background: #efebe9;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  // border: 4px solid black;
  position: fixed;
  bottom: 50px;
  right: 50px;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: inline-block;

}

.anything:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



#content {
  // background: #06c;
  font-family: 'Karla', cursive;
  font-size: 20px;
  color: #333333;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
