.mdl-mega-footer-news-club {
  background-color: $gray !important;
  // width: 100% !important;
}

.mdl-mega-footer {
    padding: 71px 40px !important;
  }

.center_logo {
  position: absolute;
  left: 0%;
  top: 31%;
  margin-right: auto;
  width: 50%;
  padding: 0px;
}
