// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "testcard";
@import "cta";
// @import "navigation";
@import "cards";
@import "footer";
@import "buttons";
// @import "button";
@import "article-card";
@import "menu";
@import "long-card";

// slanted edges here
.quote {
  background: #41ade5;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

// demo code below
.quote {
  color: #3FA9F5;
  font-family: 'Fira Sans', sans-serif;
  padding: 5% 20px;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0.5em;
}

// slanted edges here
.quote-two {
  background: #F9F9F9;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background-color: #F9F9F9;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(178.5deg);
    transform-origin: 0 100%;
  }
  &:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
  }
}

// demo code below
.quote-two {
  color: #fff;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
  padding: 17% 20px;
  text-align: center;
  margin-bottom: 20px;
}
// quote three
.quote-three {
  background: #FFFF00;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

}

// demo code below
.quote-three {
  color: #3FA9F5;
  font-family: 'Fira Sans', sans-serif;
  padding: 17% 20px;
  text-align: center;
  margin-bottom: 0px;
}

p {
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}

.center_mockup {
  position: absolute;
  left: 40%;
  top: -20%;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}
.center_content {
  position: absolute;
  left: 20%;
  top: 24%;
  margin-right: auto;
  width: 28%;
  padding: 10px;
  display: block;
  color: #333333;

}

body {
  font-family: "aktiv-grotesk-std",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #F9F9F9 !important;
}

.p-card-container {
  display: flex;
  flex-direction: row;
}

.p-card {
  background: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.10),
              0 5px 10px 0 #E3E8EB,
              0 3px 3px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 250px;
  margin: 5px; //to remove. just for codepen
}

.p-card-heading {
  padding: 25px 25px 0px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.p-card__title {
  text-transform: uppercase;
  letter-spacing: 1.85px;
  color: #394956;
  font-weight: 500;
}

.p-card__separator {
   border-top: 1px solid #E3E8EB;
   width: 100%;
   margin-top: 1.5em;
}

.p-card__per {
  color: #93A1AF;
  font-size: 12px;
}

.p-card__feature {
  line-height: 18px;
  margin: 20px 30px 0 10px;
  list-style-image: url(https://sendeyo.com/up/d10856fc170b362463b0fccdb657e55b.svg);
}

.currency {
  font-size: 20px;
  margin-top: 4px;
}

.p-card__feature-item {
  color: #72808E;
  font-size: 13px;
  font-weight: 400;
}
.p-card__price {
  font-size: 30px;
  color: #394956;
  margin: 5px 0;
  display: flex;
}

.p-card__footer {
  padding: 25px;
}

.p-card__button {
  box-sizing: border-box;
  background: #3197D6;
  border-radius: 3px;
  color: white;
  display: inline-block;
  position: relative;
  height: 47px;
  padding: 0 2rem;
  line-height: 47px;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 100%;

  &:hover {
    transform: translate3d(0,-2px,0);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
  }
}

.p-card__button:active {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .15);
    transform: translateZ(0) scale(1.06);
 }

.p-card__button:hover {
   box-shadow: 0 4px 9px rgba(0, 0, 0, .1);
   transform: translateZ(0) scale(1.03);
}

.p-card__button--selected {
  color: #72808E;
  background: #F1F3F5;
}

.p-card--active {
  background: #F9FAFA;
  box-shadow: 0 0 0 1px #DFE0E0,
              0 5px 10px 0 #F1F3F5,
              0 3px 3px 0 rgba(0,0,0,0.05);
}

.tx-500 {
  font-weight: 500;
  color: #394956
}

.plan__heading {
  font-size: 26px;
  color: #394956;
  text-align: center;
}

.plan__subheading {
  font-size: 16px;
  color: #93A1AF;
  text-align: center;
}

.center-plan1 {
  position: absolute;
  left: 29%;
  top: 17%;
  background-color: #F9F9F9;
}
.center-plan2 {
  position: absolute;
  left: 51%;
  top: 17%;
  background-color: #F9F9F9;
}
.plan__header{
  position: absolute;
  left: 33%;
  top: 6%;
}

