//  kirsty's amazing transforming sticky navbar goes here

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  margin-top: 50px;
}

.fa-bars {
  font-size: 48px;
}
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

