//  kirsty's amazing transforming sticky navbar goes here
.fa-bars {
  font-size: 48px;
}
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdl-layout__header-row {
  flex-direction: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.logo {
  flex: 0 0 50%;
}

.mdl-layout__header {
  background-color: white !important;
}

.mdl-layout__drawer-button {
  color: black !important;
}

.mdl-navigation__link {
  color: black !important;
}

.menu-div {
  position: absolute;
  top: 20px;
  left: 20px;
}
